body {
    background-color: brown;
    font-size: 10px;
}

div.przyklad {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
}

/* 
* font-family = rodzina czcionki

* font-style = styl czcionki
* italic = kursywa
* oblique = kursywa zmuszona

* font-weight = grubość czcionki

* font-variant = wariant czcionki
 */